@model IEnumerable<EquipmentRequest.Models.UserRequest>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Requests Page</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2 class="text-center">
            Here is the list of requests to be Accepted/Declined
        </h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr><th>Equipment Type</th><th>Name</th><th>Role</th><th>Accept/Deny?</th></tr>
            </thead>
            <tbody>
                @foreach (EquipmentRequest.Models.UserRequest r in Model!) {
                    <tr>
                        <td>@r.EquipmentType</td>
                        <td>@r.Name</td>
                        <td>@r.Role</td>
                        <td><button class="btn btn-success">Accept</button><button class="btn btn-danger">Deny</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>