@model IEnumerable<EquipmentRequest.Models.AvailableEquipment>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Requests</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2 class="text-center">
            Here is the list of available equipment
        </h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Equipment ID</th>
                    <th>Equipment Type</th>
                    <th>Description</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
                @foreach (EquipmentRequest.Models.AvailableEquipment r in Model) {
                    <tr>
                        <td>@r.EquipmentID</td>
                        <td>@r.Type</td>
                        <td>@r.Description</td>
                        <td>@r.Availability</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>